[submodule "static/metaworkflow"]
	path = static/metaworkflow
	url = https://github.com/yufree/metaworkflow.git
	branch = gh-pages
[submodule "themes/hugo-lithium-theme"]
	path = themes/hugo-lithium-theme
	url = https://github.com/yufree/hugo-lithium-theme.git
[submodule "static/sciguide"]
	path = static/sciguide
	url = https://github.com/yufree/sciguide.git
	branch = gh-pages
