<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-right">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Params.links }}
                    <li><a href="{{ .url }}" {{ with .targetBlank }} target="_blank" {{ end }}>{{ .title }}</a></li>
                {{ end }}
                {{ if .Site.Params.useRSS }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml" target="_blank"><i class="fa fa-fw fa-rss"></i></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
